.mdl-layout {
	align-items: center;
  justify-content: center;
}
.mdl-layout__content {
	padding: 24px;
	flex: none;
}
#Register{
	display:inline-block;
	float: right;
}
#loginbut{
	display:inline-block;
	float: left;
}
